{% extends 'movie_app/base.html' %}

{% block title %} {{movie.name|title}} {% endblock %}

{% block content %}
    <h1>Movie - {{ movie.name}}</h1>
    <h2>
        {{ movie }}
    </h2>
    <hr>
    <h2>Author</h2>
    <h2><a href="{{ movie.author.get_url }}"> {{ movie.author.first_name }} {{ movie.author.last_name }}</a></h2>
    <hr>
    <h2>All actors</h2>
    <ul>
        {% for actor in movie.actors.all %}
            <li>
                <a href="{{ actor.get_url }}"> {{ actor.first_name }} {{ actor.last_name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}